@font-face {
  font-family: "Quentin";
  src: url("../fonts/Quentin.woff2") format("woff2");
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #fbfbfb;
  color: #565956;
}

main {
  padding-top: 80px;
}

.dummy__contents {
  display: block;
  width: 100%;
  height: 2000px;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: #fbfbfb;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: clamp(0.875rem, 0.7321rem + 0.2976vw, 1rem);
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: auto;
  max-width: 1440px;
  width: 100%;
  padding-inline: 17px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 43px 0;
  }
}

.header__logo--wrapper,
.drawer-nav__logo--wrapper {
  width: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.03px;
  padding-block: 26px;
}
@media screen and (min-width: 768px) {
  .header__logo--wrapper,
  .drawer-nav__logo--wrapper {
    max-height: 24px;
    max-width: 146px;
  }
}

.header__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44.742px;
}
@media screen and (min-width: 768px) {
  .header__icon {
    width: 40.076px;
  }
}
.header__icon img {
  width: 100%;
}

.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 112.642px;
  padding-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 100.894px;
  }
}
.header__logo img {
  width: 100%;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: clamp(0.625rem, -0.9464rem + 3.2738vw, 2rem);
  }
}

.header-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 30px;
    gap: clamp(0.875rem, -0.4107rem + 2.6786vw, 2rem);
  }
}

.header-nav__item {
  border-bottom: 2px solid rgba(96, 148, 132, 0);
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header-nav__item.is-active, .header-nav__item:hover {
    border-bottom: 2px solid #609484;
  }
}

.header-nav__link {
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.32px;
}

.header-nav__online-store-link {
  background-color: #609484;
  height: 100%;
  padding-block: 29px;
  padding-inline: calc(clamp(1.25rem, -0.4643rem + 3.5714vw, 2.75rem) - 1px) clamp(1.25rem, -0.4643rem + 3.5714vw, 2.75rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.header-nav__online-store-link:hover {
  background-color: #b0c9c1;
}
.header-nav__online-store-link svg {
  margin-bottom: -6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
}
.header-nav__online-store-link span {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.header__menu {
  display: block;
  position: relative;
  z-index: 1000;
  width: 40px;
  height: 22px;
  -webkit-transition: width 0.3s, height 0.3s, margin-top 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: width 0.3s, height 0.3s, margin-top 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: width 0.3s, height 0.3s, margin-top 0.3s, transform 0.3s ease-in-out;
  transition: width 0.3s, height 0.3s, margin-top 0.3s, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header__menu.is-open {
  margin-top: 12px;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__menu.is-open .header__menu-line {
  background-color: #fff;
}
.header__menu.is-open .header__menu-line:nth-child(1) {
  width: 31px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  top: calc(50% - 1px);
}
.header__menu.is-open .header__menu-line:nth-child(2) {
  opacity: 0;
}
.header__menu.is-open .header__menu-line:nth-child(3) {
  width: 31px;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
  top: calc(50% - 1px);
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__menu-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #609484;
  -webkit-transition: width 0.3s, top 0.3s, background-color 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, background-color 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out;
  transition: width 0.3s, top 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
}
.header__menu-line:nth-child(1) {
  top: 0;
}
.header__menu-line:nth-child(2) {
  top: calc(50% - 1px);
}
.header__menu-line:nth-child(3) {
  top: calc(100% - 2px);
}

.drawer-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  width: 100vw;
  top: 0;
  height: 619px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #fff;
  background-color: #609484;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s ease-in-out;
  transition: transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
}
.drawer-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.drawer-nav__logo--wrapper {
  margin-left: 17.5px;
}

.drawer-nav__list {
  padding-inline: 26px;
}

.drawer-nav__item {
  height: 65px;
}

.drawer-nav__link {
  padding-inline: 4px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #fff;
}

.drawer-nav__sns-links {
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
  gap: 23px;
}

.drawer-nav__sns-link {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #609484;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.header__twitter {
  margin-left: 2px;
  font-size: 15.185px;
  width: 16.8px;
  height: 15.185px;
}

.header__instagram {
  margin-top: 2px;
  margin-left: 3px;
  font-size: 22.4px;
  width: 21.985px;
  height: 22.4px;
}

.header__facebook {
  margin-right: 3px;
  font-size: 22.4px;
  width: 11.997px;
  height: 22.4px;
}

.footer {
  background-color: #565956;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

.footer__inner {
  padding-block: 43px;
  padding-inline: clamp(1.5rem, -9.6429rem + 55.7143vw, 3.9375rem) clamp(1.5rem, -8.2143rem + 48.5714vw, 3.625rem);
  display: grid;
  grid-template-areas: "a" "b" "c" "d" "e";
}
.footer__inner .footer__logo--wrapper {
  grid-area: d;
}
.footer__inner .footer-sns__wrapper {
  grid-area: a;
}
.footer__inner .footer-nav__list {
  grid-area: c;
}
.footer__inner .footer__online-store--wrapper {
  grid-area: b;
}
.footer__inner .copyright {
  grid-area: e;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 44px 37px;
    max-width: 1048px;
    margin-inline: auto;
    grid-template-columns: 0.8fr 1.6fr 0.6fr;
    display: grid;
    grid-template-areas: "d c a" "b c a" "e e e";
  }
}

.footer__logo--wrapper {
  margin-top: 77px;
  width: 243px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.372px;
}
@media screen and (min-width: 768px) {
  .footer__logo--wrapper {
    margin-top: 0;
    margin-inline: 13px;
    padding-top: 15px;
  }
}

.footer-sns__wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .footer-sns__wrapper {
    width: 196px;
  }
}

.footer__title {
  letter-spacing: 0.32px;
  font-weight: 700;
}

.footer__sns-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.footer__sns-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #565956;
  display: grid;
  place-items: center;
}

.footer__twitter {
  width: 23px;
  height: 26px;
  font-size: 26px;
  margin-left: 0px;
}

.footer__instagram {
  width: 28px;
  height: 35px;
  font-size: 34px;
  margin-left: 0;
}

.footer__facebook {
  width: 17.139px;
  height: 32px;
  font-size: 32px;
  margin-right: 1px;
}

.footer-nav__list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-inline: 6px;
  margin-top: 40px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 37px 91px;
}
@media screen and (min-width: 768px) {
  .footer-nav__list {
    width: 511px;
    width: 100%;
    margin-top: 10px;
    gap: 36px clamp(0.625rem, -5.5179rem + 12.7976vw, 6rem);
    padding-left: clamp(0.625rem, -6.2321rem + 14.2857vw, 6.625rem);
    padding-right: clamp(0.625rem, -9.0893rem + 20.2381vw, 9.125rem);
  }
}

.footer-nav__item {
  text-align: center;
}

.footer-nav__link {
  font-weight: 700;
  letter-spacing: 0.32px;
}

.footer__online-store--wrapper {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__online-store--wrapper {
    margin-top: 29px;
    max-width: 269px;
  }
}

.footer__online-store-link {
  background-color: #609484;
  height: 100%;
  margin-inline: auto;
  max-width: 270px;
  padding: 26px 44px;
  font-size: 18px;
  letter-spacing: 0.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer__online-store-link {
    padding: 25px 44px;
  }
}
.footer__online-store-link:hover {
  background-color: #b0c9c1;
}
.footer__online-store-link svg {
  margin-bottom: -4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
}
.footer__online-store-link span {
  color: #fff;
  font-weight: 700;
}

.copyright {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 34px;
  text-align: center;
  letter-spacing: 1.28px;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 30px;
  }
}

.fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  padding-bottom: 51px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .fv {
    position: relative;
    max-width: 1440px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0px;
    gap: 0;
  }
  .fv::before {
    position: absolute;
    content: "";
    display: block;
    height: 197px;
    width: calc(100% - 54px);
    background-color: #609484;
    bottom: 0;
    z-index: -1;
    left: 54px;
  }
}

.fv__image--wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 17px;
  height: 469px;
}
@media screen and (min-width: 768px) {
  .fv__image--wrapper {
    padding-left: 0;
    height: 700px;
    width: clamp(24rem, 0rem + 50vw, 45rem);
  }
}

.fv__image {
  display: block;
  position: relative;
  padding-left: 28px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .fv__image {
    padding-left: 0;
  }
}
.fv__image::before {
  position: absolute;
  content: "";
  display: block;
  height: 197px;
  width: 100%;
  background-color: #609484;
  bottom: 0;
  z-index: -1;
  left: 0;
}
@media screen and (min-width: 768px) {
  .fv__image::before {
    display: none;
  }
}
.fv__image img {
  z-index: 0;
  height: calc(100% - 22px);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .fv__image img {
    height: calc(100% - 46px);
  }
}

.fv__text-contents {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fv__text-contents {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 720px;
    padding-left: clamp(1.875rem, -3.5536rem + 11.3095vw, 6.625rem);
  }
}

.fv__copy {
  margin-inline: auto;
  display: block;
  max-width: 390px;
  padding-inline: 14px 19px;
  color: #d1c1a1;
  /* SP/FV-treat */
  font-family: "Quentin", cursive;
  font-size: clamp(2.25rem, -0.6071rem + 14.2857vw, 2.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 46px */
  letter-spacing: 0.92px;
}
@media screen and (min-width: 768px) {
  .fv__copy {
    margin-top: 81px;
    margin-inline: 0;
    padding-inline: 0;
    max-width: 549px;
    font-size: clamp(2.625rem, 1.3821rem + 2.5894vw, 3.7125625rem);
    letter-spacing: 1.188px;
  }
}

.fv__title {
  margin-top: 24px;
  color: #565956;
  padding-inline: 23px 31px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(1.375rem, -0.9107rem + 11.4286vw, 1.875rem);
  font-weight: 700;
  line-height: 1.6; /* 48px */
  letter-spacing: 0.5px;
  -webkit-text-decoration: 3px solid underline #609484;
          text-decoration: 3px solid underline #609484;
  text-underline-offset: -1px;
}
@media screen and (min-width: 768px) {
  .fv__title {
    margin-top: 18px;
    text-align: left;
    padding-inline: 0;
    margin-left: -3px;
    font-size: clamp(1.875rem, 0.5179rem + 2.8274vw, 3.0625rem);
    font-weight: 700;
    line-height: 1.5; /* 73.5px */
    letter-spacing: 0.98px;
    -webkit-text-decoration: 6px solid underline #609484;
            text-decoration: 6px solid underline #609484;
  }
}

.fv__sub-title {
  margin-top: 5px;
  color: #565956;
  font-family: "Noto Sans JP", sans-serif;
  padding-inline: 24px 32px;
  text-align: center;
  font-size: clamp(1.0625rem, -1.2735rem + 11.68vw, 1.5735rem);
  font-weight: 700;
  line-height: 1.5; /* 37.764px */
  letter-spacing: 0.504px;
}
@media screen and (min-width: 768px) {
  .fv__sub-title {
    text-align: left;
    margin-top: 3px;
    padding-inline: 0;
    font-size: clamp(1.5rem, 1.0714rem + 0.8929vw, 1.875rem);
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}

.hidden-pc {
  display: block;
}
@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.hidden-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden-sp {
    display: inline;
  }
}

.fv__text {
  max-width: 390px;
  margin-inline: auto;
  color: #565956;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(1rem, 0.4286rem + 2.8571vw, 1.125rem);
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  letter-spacing: 0.36px;
  margin-top: 56.17px;
  padding-inline: 24px 9px;
}
@media screen and (min-width: 768px) {
  .fv__text {
    margin-top: 51px;
    font-size: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
    margin-inline: 0;
    padding-inline: 0;
    text-align: left;
  }
}

.news {
  background: #f1f4f3;
  padding-block: 96px;
}

.news__inner {
  padding-inline: 36px;
}

.news__title {
  color: #948260;
  text-align: center;
  /* common/h2-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.news__sub-title {
  color: #565956;
  text-align: center;
  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.news__lists {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: clamp(0.625rem, -4.2321rem + 10.119vw, 4.875rem);
  }
}

.news__item {
  background-color: #fff;
  width: 318px;
}
@media screen and (min-width: 768px) {
  .news__item {
    width: 320px;
  }
}

.news__link {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.news__link:hover {
  opacity: 0.7;
}

.news__text-contents {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  color: #565956;
}
@media screen and (min-width: 768px) {
  .news__text-contents {
    padding: 18px 20px 20px;
  }
}

.news__text-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .news__text-head {
    gap: clamp(0.625rem, -1.5179rem + 4.4643vw, 2.5rem);
  }
}

.news__date {
  color: #565956;
  /* common/el-text */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1; /* 17.6px */
  letter-spacing: 0.32px;
}

.news__tag {
  padding: 8px 10px;
  background-color: #609484;
  color: #fff;
  /* common/tag-text */
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1; /* 16px */
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .news__tag {
    font-size: clamp(0.6875rem, 0.3304rem + 0.744vw, 1rem);
    padding: 8px 11px;
  }
}

.news__text {
  overflow: hidden;
  color: #565956;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  height: 66px;
  /* common/text */
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;
}

.news__button {
  margin-top: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: 80px;
  }
}

.news__button-link {
  display: block;
  margin-inline: auto;
  max-width: 225px;
  padding: 20px 50px;
  background-color: #609484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.news__button-link:hover {
  background-color: #b0c9c1;
}
@media screen and (min-width: 768px) {
  .news__button-link {
    max-width: 245px;
    padding: 20px 60px;
  }
}
.news__button-link span {
  color: #fff;
  text-align: center;
  /* common/btn-text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.36px;
}

.news__button-arrow {
  height: 25px;
  width: 25px;
}
.news__button-arrow img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.brand {
  position: relative;
  padding-block: 98px;
  background-color: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .brand {
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 84px;
  }
}
.brand .brand__top-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 256px;
  height: 196px;
}
@media screen and (min-width: 768px) {
  .brand .brand__top-image {
    width: 460px;
    height: 335px;
  }
}
.brand .brand__top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brand .brand__bottom-image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 240px;
  height: 196px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .brand .brand__bottom-image {
    width: 457px;
    height: 342px;
  }
}
.brand .brand__bottom-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand__heading {
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .brand__heading {
    padding-left: 0;
  }
}

.brand__title {
  color: #948260;
  text-align: center;
  /* common/h2-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.brand__sub-title {
  color: #565956;
  text-align: center;
  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.brand__contents {
  position: relative;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .brand__contents {
    padding-inline: 60px;
    margin-top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 37px;
  }
}

.brand__image {
  position: relative;
  max-width: 364px;
  width: calc(100% - 6.5px - 18px);
  height: 546px;
  margin-inline: 6.5px 18px;
  margin-bottom: 23px;
}
.brand__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .brand__image {
    margin-bottom: 21px;
  }
}
.brand__image::before {
  position: absolute;
  content: "";
  background-color: #609484;
  width: calc(100% - 15px);
  height: 333.667px;
  bottom: -16px;
  right: -17px;
}
@media screen and (min-width: 768px) {
  .brand__image::before {
    width: calc(100% - 11px);
    height: 333.667px;
    bottom: -16px;
    right: -17px;
  }
}

.brand__text-contents {
  padding-inline: 19px;
}
@media screen and (min-width: 768px) {
  .brand__text-contents {
    padding-inline: 0;
  }
}

.brand__name {
  display: block;
  margin-left: -4px;
  color: #609484;
  text-align: center;
  /* common/brand-name */
  font-family: "Georama", sans-serif;
  font-size: clamp(4.5rem, 0.2143rem + 21.4286vw, 5.4375rem);
  font-weight: 400;
  line-height: 0.4; /* 34.8px */
}
@media screen and (min-width: 768px) {
  .brand__name {
    text-align: left;
    margin-left: 0;
  }
}

.brand__name-sub {
  margin-top: 13px;
  padding-right: 4px;
  color: #609484;
  text-align: center;
  /* common/brand-name-sub */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px; /* 137.931% */
}
@media screen and (min-width: 768px) {
  .brand__name-sub {
    padding-right: 16px;
  }
}

.brand__text {
  margin-top: 35px;
  padding-inline: 6px;
  color: #565956;
  max-width: 352px;
  /* common/text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(0.875rem, 0.3036rem + 2.8571vw, 1rem);
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .brand__text {
    margin-top: 43px;
    padding-inline: 0 6px;
  }
}

.brand__online-store--wrapper {
  margin-top: 40px;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .brand__online-store--wrapper {
    margin-top: 50px;
    margin-left: 0;
    max-width: 269px;
  }
}

.brand__online-store-link {
  background-color: #609484;
  height: 100%;
  margin-inline: auto;
  max-width: 270px;
  padding: 26px 44px;
  font-size: 18px;
  letter-spacing: 0.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .brand__online-store-link {
    padding: 25px 30px;
  }
}
.brand__online-store-link:hover {
  background-color: #b0c9c1;
}
.brand__online-store-link svg {
  margin-bottom: -4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
}
.brand__online-store-link span {
  color: #fff;
  font-weight: 700;
}

.about {
  background: #f1f4f3;
  padding-block: 94px 90px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-block: 94px 98px;
  }
}

.about__heading {
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .about__heading {
    padding-left: 0;
  }
}

.about__title {
  color: #948260;
  text-align: center;
  /* common/h2-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.about__sub-title {
  color: #565956;
  text-align: center;
  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.about__contents {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .about__contents {
    width: 100%;
    margin-top: 62px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__image {
  position: relative;
  max-width: 390px;
  margin-inline: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .about__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 54.1666666667%;
  }
}
.about__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__copy {
  position: absolute;
  color: #d1c1a1;
  /* SP/treat */
  font-family: "Quentin", cursive;
  font-size: clamp(3.125rem, -0.3036rem + 17.1429vw, 3.875rem);
  font-weight: 400;
  line-height: 100%; /* 62px */
  letter-spacing: 1.24px;
  bottom: 0;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .about__copy {
    top: clamp(0.625rem, -10.625rem + 15vw, 2.875rem);
    right: clamp(-28.8125rem, 147.8125rem - 196.25vw, -1.125rem);
    left: auto;
    bottom: auto;
    font-size: clamp(3.75rem, 0.8929rem + 5.9524vw, 6.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 100px */
    letter-spacing: 2px;
  }
}

.about__text-contents {
  padding: 45px 24.5px;
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .about__text-contents {
    padding: clamp(0rem, -4.2857rem + 8.9286vw, 3.75rem) clamp(2rem, -0.7143rem + 5.6548vw, 4.375rem);
    max-width: 660px;
  }
}

.about__introduction {
  color: #565956;
  margin-top: 4px;
  /* SP/h3 */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .about__introduction {
    font-size: 26px;
  }
}

.about__introduction-text {
  margin-top: 21px;
  color: #565956;
  /* common/text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .about__introduction-text {
    margin-top: 16px;
    max-width: 429px;
  }
}

.about__button {
  margin-top: 25px;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-left: 0;
  }
}

.about__button-link {
  display: block;
  margin-inline: auto;
  max-width: 227px;
  padding: 20px 49px;
  background-color: #609484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.about__button-link:hover {
  background-color: #b0c9c1;
}
@media screen and (min-width: 768px) {
  .about__button-link {
    max-width: 245px;
    padding: 20px 58px;
    margin-inline: 0;
  }
}
.about__button-link span {
  color: #fff;
  text-align: center;
  /* common/btn-text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.36px;
}

.recruit {
  padding-block: 77px;
  background-image: url(../img/front-page/index/recruit/sp/recruit.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .recruit {
    padding-block: 96px;
    padding-inline: 60px;
    background-image: url(../img/front-page/index/recruit/recruit.jpg);
  }
}

.recruit__title {
  color: #fff;
  text-align: center;
  /* common/h2-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.recruit__sub-title {
  color: #fff;
  text-align: center;
  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.recruit__card {
  max-width: 360px;
  margin-inline: auto;
  padding-block: 39px 50px;
  margin-top: 40px;
  background-color: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .recruit__card {
    margin-top: 80px;
    max-width: 889px;
    padding-block: 71px 79px;
  }
}

.recruit__card-title {
  color: #609484;
  text-align: center;
  padding-inline: 37px;
  /* common/recruit-main */
  font-family: "Noto Sans JP";
  font-size: clamp(3rem, 0.7143rem + 11.4286vw, 3.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 56px */
  letter-spacing: 1.12px;
}

.recruit__text {
  margin-top: 8px;
  padding-inline: 61px;
  text-align: left;
  color: #565956;
  /* common/recruit-text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.36px;
}
@media screen and (min-width: 768px) {
  .recruit__text {
    text-align: center;
    margin-top: 5px;
    max-width: 768px;
    margin-inline: auto;
  }
}

.recruit__button {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .recruit__button {
    margin-top: 49px;
    max-width: 245px;
    margin-inline: auto;
  }
}

.recruit__button-link {
  display: block;
  margin-inline: auto;
  max-width: 247px;
  padding: 20px 49px;
  background-color: #609484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.recruit__button-link:hover {
  background-color: #b0c9c1;
}
@media screen and (min-width: 768px) {
  .recruit__button-link {
    max-width: 245px;
    padding: 20px 58px;
    margin-inline: 0;
  }
}
.recruit__button-link span {
  color: #fff;
  text-align: center;
  /* common/btn-text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.36px;
}

.business-fv {
  position: relative;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .business-fv {
    height: 500px;
  }
}
.business-fv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.business-fv__heading {
  position: absolute;
  width: 100%;
  content: "";
  top: 113px;
}
@media screen and (min-width: 768px) {
  .business-fv__heading {
    top: 212.5px;
  }
}

.business-fv__title {
  color: #fff;
  text-align: center;
  /* common/h1-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.business-fv__sub-title {
  color: #fff;
  text-align: center;
  /* common/h1-sub */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.36px;
}

.action {
  padding-block: 96px;
}

.action__title {
  color: #948260;
  text-align: center;
  /* common/h2-main */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.action__sub-title {
  color: #565956;
  text-align: center;
  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.action__contents {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .action__contents {
    width: 100%;
    gap: clamp(2rem, -0.7143rem + 5.6548vw, 4.375rem);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .action__contents.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    gap: clamp(2rem, -0.7143rem + 5.6548vw, 4.375rem);
  }
  .action__contents.reverse .action__text-contents {
    padding: 0;
    width: 100%;
    margin-left: clamp(2rem, -6.0714rem + 16.8155vw, 9.0625rem);
  }
}
.action__contents.reverse .action__image .action__copy {
  left: 9px;
}
@media screen and (min-width: 768px) {
  .action__contents.reverse .action__image .action__copy {
    top: clamp(0.1875rem, -16.375rem + 22.0833vw, 3.5rem);
    left: auto;
    right: clamp(8.75rem, -133.125rem + 189.1667vw, 37.125rem);
  }
}

.action__contents + .action__contents {
  margin-top: 40px;
}

.action__image {
  position: relative;
  max-width: 390px;
  height: 300px;
  margin-inline: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .action__image {
    overflow: visible;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 54.1666666667%;
    max-height: 520px;
    height: 100%;
  }
}
.action__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.action__copy {
  position: absolute;
  color: #d1c1a1;
  width: 100%;
  text-align: center;
  /* SP/treat */
  font-family: "Quentin", cursive;
  font-size: clamp(3.125rem, -0.3036rem + 17.1429vw, 3.875rem);
  font-weight: 400;
  line-height: 100%; /* 62px */
  letter-spacing: 1.24px;
  bottom: -3px;
}
@media screen and (min-width: 768px) {
  .action__copy {
    top: 85px;
    right: -583px;
    left: auto;
    bottom: auto;
    font-size: clamp(2.75rem, 0.8929rem + 5.9524vw, 6.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 100px */
    letter-spacing: 2px;
  }
  .action__copy.env {
    right: clamp(-35.4375rem, 124.3125rem - 177.5vw, -8.8125rem);
    top: clamp(0.3125rem, -24.6875rem + 33.3333vw, 5.3125rem);
  }
  .action__copy.dev {
    right: clamp(-36.4375rem, 125.9375rem - 180.4167vw, -9.375rem);
    top: clamp(0.3125rem, -30rem + 40.4167vw, 6.375rem);
  }
}

.action__text-contents {
  padding: 31px 17px 0;
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .action__text-contents {
    padding: 0 30px 0 0;
    max-width: 660px;
  }
}
.action__text-contents.wide {
  padding: 31px 15px 0;
}
@media screen and (min-width: 768px) {
  .action__text-contents.wide {
    padding: 0 30px 0 0;
  }
}

.action__introduction {
  color: #565956;
  margin-top: 4px;
  /* SP/h3 */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .action__introduction {
    margin-top: 0px;
    font-size: clamp(1.25rem, 0.8214rem + 0.8929vw, 1.625rem);
  }
}

.action__introduction-text {
  margin-top: 25px;
  color: #565956;
  /* common/text */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .action__introduction-text {
    margin-top: 28px;
    max-width: 440px;
  }
  .action__introduction-text.dev {
    margin-top: 27px;
    line-height: 28px;
    letter-spacing: 0.32px;
  }
}