@use "common" as *;

// FV
.fv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-bottom: 51px;
  margin-inline: auto;

  @include mq(md) {
    position: relative;
    max-width: 1440px;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;
    gap: 0;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 197px;
      width: calc(100% - 54px);
      background-color: $accent-green;
      bottom: 0;
      z-index: -1;
      left: 54px;
    }
  }
}

.fv__image--wrapper {
  flex-shrink: 0;
  padding-left: 17px;
  height: calc(447px + 22px);

  @include mq(md) {
    padding-left: 0;
    height: calc(654px + 46px);
    // max-width: 720px;
    width: clamp(24rem, 0rem + 50vw, 45rem);
  }
}

.fv__image {
  display: block;
  position: relative;
  padding-left: 28px;
  height: 100%;

  @include mq(md) {
    padding-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 197px;
    width: 100%;
    background-color: $accent-green;
    bottom: 0;
    z-index: -1;
    left: 0;

    @include mq(md) {
      display: none;
    }
  }

  img {
    // width: 100%;
    z-index: 0;
    height: calc(100% - 22px);
    object-fit: cover;

    @include mq(md) {
      height: calc(100% - 46px);
    }
  }
}

.fv__text-contents {
  display: block;
  height: fit-content;
  width: 100%;

  @include mq(md) {
    flex-grow: 1;
    max-width: 720px;
    padding-left: clamp(1.875rem, -3.5536rem + 11.3095vw, 6.625rem);
  }
}

.fv__copy {
  margin-inline: auto;
  display: block;
  max-width: 390px;
  padding-inline: 14px 19px;

  color: $font-decoration-gold;

  /* SP/FV-treat */
  font-family: $font-family-decoration;
  font-size: clamp(2.25rem, -0.6071rem + 14.2857vw, 2.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 46px */
  letter-spacing: 0.92px;

  @include mq(md) {
    margin-top: 81px;
    margin-inline: 0;
    padding-inline: 0;
    max-width: 549px;
    font-size: clamp(2.625rem, 1.3821rem + 2.5894vw, 3.7125625rem);
    letter-spacing: 1.188px;
  }
}

.fv__title {
  margin-top: 24px;
  color: $font-color-gray;
  padding-inline: 23px 31px;
  text-align: center;

  font-family: $font-family-jp;
  font-size: clamp(1.375rem, -0.9107rem + 11.4286vw, 1.875rem);
  font-weight: 700;
  line-height: 1.6; /* 48px */
  letter-spacing: 0.5px;
  text-decoration: 3px solid underline $accent-green;
  text-underline-offset: -1px;

  @include mq(md) {
    margin-top: 18px;
    text-align: left;
    padding-inline: 0;
    margin-left: -3px;
    font-size: clamp(1.875rem, 0.5179rem + 2.8274vw, 3.0625rem);
    font-weight: 700;
    line-height: 1.5; /* 73.5px */
    letter-spacing: 0.98px;
    text-decoration: 6px solid underline $accent-green;
  }
}

.fv__sub-title {
  margin-top: 5px;
  color: $font-color-gray;

  font-family: $font-family-jp;
  padding-inline: 24px 32px;

  text-align: center;

  font-size: clamp(1.0625rem, -1.2735rem + 11.68vw, 1.5735rem);
  font-weight: 700;
  line-height: 1.5; /* 37.764px */
  letter-spacing: 0.504px;

  @include mq(md) {
    text-align: left;
    margin-top: 3px;

    padding-inline: 0;
    font-size: clamp(1.5rem, 1.0714rem + 0.8929vw, 1.875rem);
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}

.hidden-pc {
  display: block;

  @include mq(md) {
    display: none;
  }
}

.hidden-sp {
  display: none;

  @include mq(md) {
    display: inline;
  }
}
.fv__text {
  max-width: 390px;
  margin-inline: auto;
  color: $font-color-gray;

  font-family: $font-family-jp;
  font-size: clamp(1rem, 0.4286rem + 2.8571vw, 1.125rem);
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  letter-spacing: 0.36px;

  margin-top: 56.17px;
  padding-inline: 24px 9px;

  @include mq(md) {
    margin-top: 51px;
    font-size: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
    margin-inline: 0;
    padding-inline: 0;
    text-align: left;
  }
}

// NEWS
.news {
  background: $main-BG-gray;
  padding-block: 96px;
}

.news__inner {
  padding-inline: 36px;
}

.news__title {
  color: $accent-brown;
  text-align: center;

  /* common/h2-main */
  font-family: $font-family-en;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.news__sub-title {
  color: $font-color-gray;
  text-align: center;

  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.news__lists {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include mq(md) {
    margin-top: 80px;
    flex-direction: row;
    gap: clamp(0.625rem, -4.2321rem + 10.119vw, 4.875rem);
  }
}

.news__item {
  background-color: $etc-white;
  width: 318px;

  @include mq(md) {
    width: 320px;
  }
}

.news__link {
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}

.news__text-contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: $font-color-gray;

  @include mq(md) {
    padding: 18px 20px 20px;
  }
}

.news__text-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  @include mq(md) {
    gap: clamp(0.625rem, -1.5179rem + 4.4643vw, 2.5rem);
  }
}

.news__date {
  color: $font-color-gray;
  /* common/el-text */
  font-family: $font-family-en;
  font-weight: 400;
  line-height: 1.1; /* 17.6px */
  letter-spacing: 0.32px;
}

.news__tag {
  padding: 8px 10px;
  background-color: $accent-green;
  color: $font-color-white;

  /* common/tag-text */
  font-family: $font-family-jp;
  font-weight: 700;
  line-height: 1; /* 16px */
  letter-spacing: 0.32px;

  @include mq(md) {
    font-size: clamp(0.6875rem, 0.3304rem + 0.744vw, 1rem);
    padding: 8px 11px;
  }
}

.news__text {
  overflow: hidden;
  color: $font-color-gray;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  height: 66px;

  /* common/text */
  font-family: $font-family-jp;
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;
}

.news__button {
  margin-top: 40px;
  width: 100%;
  @include mq(md) {
    margin-top: 80px;
  }
}

.news__button-link {
  display: block;
  margin-inline: auto;
  max-width: 225px;
  padding: 20px 50px;
  background-color: $accent-green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-button-green;
  }

  @include mq(md) {
    max-width: 245px;
    padding: 20px 60px;
  }
  span {
    color: $font-color-white;
    text-align: center;

    /* common/btn-text */
    font-family: $font-family-jp;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.36px;
  }
}

.news__button-arrow {
  height: 25px;
  width: 25px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// BRAND
.brand {
  position: relative;
  padding-block: 98px;
  background-color: $base-BG-white;

  @include mq(md) {
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 84px;
  }

  .brand__top-image {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 256px;
    height: 196px;

    @include mq(md) {
      width: 460px;
      height: 335px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .brand__bottom-image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 240px;
    height: 196px;
    z-index: 1;

    @include mq(md) {
      width: 457px;
      height: 342px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.brand__heading {
  padding-left: 4px;
  @include mq(md) {
    padding-left: 0;
  }
}

.brand__title {
  color: $accent-brown;
  text-align: center;

  /* common/h2-main */
  font-family: $font-family-en;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.brand__sub-title {
  color: $font-color-gray;
  text-align: center;

  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.brand__contents {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 10;

  @include mq(md) {
    padding-inline: 60px;
    margin-top: 80px;
    flex-direction: row-reverse;
    gap: 37px;
  }
}

.brand__image {
  position: relative;

  max-width: 364px;
  width: calc(100% - 6.5px - 18px);
  height: 546px;
  margin-inline: 6.5px 18px;
  margin-bottom: 23px;
  img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  @include mq(md) {
    margin-bottom: 21px;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $accent-green;
    width: calc(100% - 15px);
    height: 333.667px;
    bottom: -16px;
    right: -17px;

    @include mq(md) {
      width: calc(100% - 11px);
      height: 333.667px;
      bottom: -16px;
      right: -17px;
    }
  }
}

.brand__text-contents {
  padding-inline: 19px;
  @include mq(md) {
    padding-inline: 0;
  }
}

.brand__name {
  display: block;
  margin-left: -4px;
  color: $accent-green;
  text-align: center;
  @include mq(md) {
    text-align: left;
    margin-left: 0;
  }

  /* common/brand-name */
  font-family: $font-family-brands;
  font-size: clamp(4.5rem, 0.2143rem + 21.4286vw, 5.4375rem);
  font-weight: 400;
  line-height: 0.4; /* 34.8px */
}

.brand__name-sub {
  margin-top: 13px;
  padding-right: 4px;
  color: $accent-green;
  text-align: center;

  /* common/brand-name-sub */
  font-family: $font-family-jp;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px; /* 137.931% */
  @include mq(md) {
    padding-right: 16px;
  }
}

.brand__text {
  margin-top: 35px;
  padding-inline: 6px;
  color: $font-color-gray;
  max-width: 352px;

  /* common/text */
  font-family: $font-family-jp;
  font-size: clamp(0.875rem, 0.3036rem + 2.8571vw, 1rem);
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;

  @include mq(md) {
    margin-top: 43px;
    padding-inline: 0 6px;
  }
}

.brand__online-store--wrapper {
  margin-top: 40px;
  margin-left: 4px;
  @include mq(md) {
    margin-top: 50px;
    margin-left: 0;
    max-width: 269px;
  }
}

.brand__online-store-link {
  background-color: $accent-green;
  height: 100%;
  margin-inline: auto;
  max-width: 270px;
  padding: 26px 44px;

  font-size: 18px;
  letter-spacing: 0.36px;
  // 44~20px
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  transition: background-color 0.3s ease-in-out;

  @include mq(md) {
    padding: 25px 30px;
  }

  &:hover {
    background-color: $hover-button-green;
  }

  svg {
    margin-bottom: -4px;
    flex-shrink: 0;
    fill: $font-color-white;
  }

  span {
    color: $font-color-white;
    font-weight: 700;
  }
}

.about {
  background: $main-BG-gray;
  padding-block: 94px 90px;

  @include mq(md) {
    padding-block: 94px 98px;
  }
}

.about__heading {
  padding-left: 4px;
  @include mq(md) {
    padding-left: 0;
  }
}

.about__title {
  color: $accent-brown;
  text-align: center;

  /* common/h2-main */
  font-family: $font-family-en;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.about__sub-title {
  color: $font-color-gray;
  text-align: center;

  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.about__contents {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    width: 100%;
    margin-top: 62px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__image {
  position: relative;
  max-width: 390px;
  margin-inline: auto;
  flex-shrink: 0;

  @include mq(md) {
    flex-shrink: 0;
    max-width: calc(780 / 1440 * 100%);
  }
  img {
    object-fit: cover;
  }
}

.about__copy {
  position: absolute;
  color: $font-decoration-gold;

  /* SP/treat */
  font-family: $font-family-decoration;
  font-size: clamp(3.125rem, -0.3036rem + 17.1429vw, 3.875rem);
  font-weight: 400;
  line-height: 100%; /* 62px */
  letter-spacing: 1.24px;
  bottom: 0;
  left: 20px;

  @include mq(md) {
    top: clamp(0.625rem, -10.625rem + 15vw, 2.875rem);
    right: clamp(-28.8125rem, 147.8125rem + -196.25vw, -1.125rem);
    // right: clamp(-28.8125rem, 26.2321rem + -61.1607vw, -3.125rem);
    left: auto;
    bottom: auto;
    font-size: clamp(3.75rem, 0.8929rem + 5.9524vw, 6.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 100px */
    letter-spacing: 2px;
  }
}

.about__text-contents {
  padding: 45px 24.5px;
  max-width: calc(345px + 22.5px * 2);
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
    padding: clamp(0rem, -4.2857rem + 8.9286vw, 3.75rem) clamp(2rem, -0.7143rem + 5.6548vw, 4.375rem);
    max-width: 660px;
  }
}

.about__introduction {
  color: $font-color-gray;
  margin-top: 4px;

  /* SP/h3 */
  font-family: $font-family-jp;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.48px;

  @include mq(md) {
    font-size: 26px;
  }
}

.about__introduction-text {
  margin-top: 21px;
  color: $font-color-gray;

  /* common/text */
  font-family: $font-family-jp;
  font-size: 16px;
  font-weight: 400;
  line-height: 2; /* 32px */
  letter-spacing: 0.8px;

  @include mq(md) {
    margin-top: 16px;
    max-width: 429px;
  }
}

.about__button {
  margin-top: 25px;
  margin-left: 4px;

  @include mq(md) {
    margin-left: 0;
  }
}

.about__button-link {
  display: block;
  margin-inline: auto;
  max-width: 227px;
  padding: 20px 49px;
  background-color: $accent-green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-button-green;
  }

  @include mq(md) {
    max-width: 245px;
    padding: 20px 58px;
    margin-inline: 0;
  }
  span {
    color: $font-color-white;
    text-align: center;

    /* common/btn-text */
    font-family: $font-family-jp;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.36px;
  }
}
// recruit

.recruit {
  padding-block: 77px;
  background-image: url(../img/front-page/index/recruit/sp/recruit.jpg);
  background-size: cover;

  @include mq(md) {
    padding-block: 96px;
    padding-inline: 60px;
    background-image: url(../img/front-page/index/recruit/recruit.jpg);
  }
}

.recruit__title {
  color: $font-color-white;
  text-align: center;

  /* common/h2-main */
  font-family: $font-family-en;
  font-size: 48px;
  font-weight: 700;
  line-height: 1; /* 48px */
  letter-spacing: 0.96px;
}

.recruit__sub-title {
  color: $font-color-white;
  text-align: center;

  /* common/h2-sub */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

.recruit__card {
  max-width: calc(390px - 15px * 2);
  margin-inline: auto;
  padding-block: 39px 50px;
  margin-top: 40px;
  background-color: $base-BG-white;

  @include mq(md) {
    margin-top: 80px;
    max-width: 889px;
    padding-block: 71px 79px;
  }
}

.recruit__card-title {
  color: $accent-green;
  text-align: center;
  padding-inline: 37px;

  /* common/recruit-main */
  font-family: "Noto Sans JP";
  font-size: clamp(3rem, 0.7143rem + 11.4286vw, 3.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 56px */
  letter-spacing: 1.12px;
}

.recruit__text {
  margin-top: 8px;
  padding-inline: 61px;
  text-align: left;

  color: $font-color-gray;

  /* common/recruit-text */
  font-family: $font-family-jp;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.36px;
  @include mq(md) {
    text-align: center;
    margin-top: 5px;
    max-width: 768px;
    margin-inline: auto;
  }
}

.recruit__button {
  margin-top: 48px;
  @include mq(md) {
    margin-top: 49px;
    max-width: 245px;
    margin-inline: auto;
  }
}

.recruit__button-link {
  display: block;
  margin-inline: auto;
  max-width: 247px;
  padding: 20px 49px;
  background-color: $accent-green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-button-green;
  }

  @include mq(md) {
    max-width: 245px;
    padding: 20px 58px;
    margin-inline: 0;
  }
  span {
    color: $font-color-white;
    text-align: center;

    /* common/btn-text */
    font-family: $font-family-jp;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.36px;
  }
}
